@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Viga:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Main */

:root {
  --primary-color700: #9323A8;
  --background-color: #F5F5F5;
  --box-color: #FFFFFF;
  --primary-font: Livvic;
  --secondary-font: Viga;
  --text-color: #000000;
  --radius: 26px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  padding: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 32px;
}

#apiKeyInput {
  border: none;
  height: 32px;
  justify-content: center;
  margin-bottom: 48px;
  padding-left: 16px;
  width: 300px;
  display: hidden;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #9E2DB0, #672292);
  padding: 20px 0;
  border-radius: 15px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  position: fixed;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 700;
  max-width: 520px;
}

.nav-item {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  padding: 0px 7.8vmin;
}

.nav-item img {
  display: block;
  margin: 0 auto 8px;
  width: 28px;
  height: 28px;
}

.nav-item img[alt="Library"] {
  border: 2.2px solid white;
  border-radius: 50%;
  object-fit: cover;
  height: 26px;
  width: 26px;
  margin-bottom: 5px;
  margin-top: -1px;
}

.nav-item p {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
}

.library-padding {
  padding: 3px 0px;
}

/* Language Picker Section */

.language-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.lang-box {
  background-color: var(--box-color);
  color: var(--text-color);
  border-radius: var(--radius);
  padding: 20px;
  min-height: 40px;
  max-width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  cursor: pointer;
}

.box-text {
  font-size: 16px;
  max-width: 19vw;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: var(--primary-color700);
  opacity: 0.9;
  hyphens: auto;
  overflow-wrap: break-word;
}

.flag {
  width: 26px;
  height: 26px;
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  position: relative;
  margin-right: 8px;
  flex-shrink: 0;
}

.flag img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160%;
  transform: translate(-50%, -50%);
  filter: saturate(1.15) brightness(1.1);
}

.stars {
  border: none;
}

.arrow {
  content: url('icons/arrow-right.svg');
}

/* Language Choice Overlay */

/* Input Section */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 800;
  align-items: center;
  justify-content: center;
  padding: 9vw;
  box-sizing: border-box;
}

.langchoice-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.langchoice-input {
  border-radius: var(--radius);
  background: var(--box-color);
  padding: 24px;
  width: 100%;
  height: 77px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.langchoice-input input[type="text"] {
  border: none;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-family: var(--primary-font);
}

.close-btn {
  cursor: pointer;
  opacity: 0.5;
}

.confirm-arrow {
  opacity: 0.4;
}

/* Options Section */

.langchoice-options {
  border-radius: var(--radius);
  background: var(--box-color);
  padding: 36px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 70%;
  overflow-y: auto;
}

#language-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  opacity: 0.45;
}

.clear-btn {
  background: none;
  border: none;
  color: var(--primary-color700);
  font-size: 12px;
  cursor: pointer;
  padding: 4px;
}

.section-title p {
  margin: 0;
}

li {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.langchoice-text {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}

small {
  opacity: 0.7;
}

/* Text Input Section */

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--box-color);
  border-radius: var(--radius);
  padding: 48px 22px;
  padding-bottom: 36px;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  max-height: 160px;
  transition: transform 0.3s ease;
  cursor: text;
}

.input-container.input1 {
  order: 1;
}

.input-container.input2 {
  order: 3;
}

.language-label {
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 13px;
  opacity: 0.65;
}

.text-input[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: var(--text-color);
  opacity: 0.3;
}

.text-input {
  font-family: var(--primary-font);
  color: var(--text-color);
  flex: 1;
  font-size: 20px;
  outline: none;
  word-wrap: break-word;
  max-width: 95%;
  max-height: 90px;
  overflow: auto;
}

.icon {
  cursor: pointer;
}

.microphone {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.speak {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  opacity: 0.5;
}

.phonetic {
  opacity: 0.35;
}

#playButton {
  width: 20px;
  height: 20px;
  background-image: url('icons/speak.svg');
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Translate Button Section */

.translate-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
  order: 2;
}

.charges {
  color: var(--primary-color700);
  font-size: 17.6px;
  display: flex;
  align-items: center;
}

.infinity {
  width: 22px;
  height: 22px;
}

.charges::after {
  content: url('icons/charge.svg');
  margin-left: 8px;
  vertical-align: middle;
}

.translate-button {
  font-family: 'Viga', sans-serif;
  color: var(--primary-color700);
  border: 2px solid var(--primary-color700);
  border-radius: var(--radius);
  background-color: #FFFFFF;
  padding: 12px 32px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.translate-button:hover {
  background-color: var(--primary-color700);
  color: #FFFFFF;
}

/* Media Adjustments */

@media (min-width: 768px) {
  body {
    padding: 5vw;
  }

  langinput-content {
    padding: 5vw;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    transition: margin-left 0.5s;
  }

  .language-section {
    max-width: 400px;
  }

  .langchoice-input {
    width: 75%;
  }

  .langchoice-options {
    width: 75%;
  }

  .navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 999;
    left: 48px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    margin: 0;
    align-items: center;
    gap: 8px;
  }

  .nav-item img {
    padding: 0;
    margin: 0;
  }

  .nav-item img[alt="Library"] {
    padding: 0;
    margin: 0;
    margin-top: 3.3vw;
  }

  .nav-item img[src*="settings.svg"] {
    padding: 0;
    margin: 0;
  }

  .nav-item img[src*="translator.svg"] {
    padding: 0;
    margin: 0;
  }

  .nav-item p {
    margin: 0;
    font-size: 12px;
  }

  .library-padding {
    padding: 0;
    margin: 0;
  }

  .langchoice-content,
  .wrapper,
  #apiKeyInput {
    margin-left: 100px;
  }

  .library-page {
    margin-left: 50px;
  }
}


/* Remove the background for autofilled inputs (like previously selected items) */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/* LIBRARY PAGE */

.library-page {
  display: none;
  position: fixed;
  gap: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  z-index: 800;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.lang-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 126px;
  position: relative;
}

.building-image {
  z-index: 801;
  position: absolute;
  margin-right: 100px;
}

.library-flag {
  border: 7px solid white;
  border-radius: 50%;
  z-index: 802;
  position: absolute;
  margin-left: 100px;
}

.building-image,
.library-flag {
  width: 139px;
  height: 139px;
}

.lang-header {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  z-index: 803;
  position: relative;
}

.lang-title-before {
  margin-bottom: -24px;
  font-size: 25px;
}

.lang-title {
  font-size: 50px;
  margin-bottom: -5px;
}

.lang-title-before,
.lang-title {
  font-family: var(--secondary-font);
  opacity: 0.8;
}

.lang-subtitle {
  font-size: 18px;
  opacity: 0.5;
}

.line {
  width: 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.outline {
  width: 100%;
  padding: 20px;
  min-height: 200px;
  border-radius: 39px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.15);
}